:root {
  --color-primary: #000000;
  --color-primiary-light: #0b9444;
  --color-secondary: #3c8050;
  --color-accent: #8b5e3b;
  --color-neutral-beige: #5b6d5e;
  --color-whatever: #e09a69;

  --font-primary: 'Nanum Gothic Coding', monospace;
  -secondary:'Nanum Gothic Coding', monospace;'Merriweather', serif;

  amily: var(--font-primary);
}
