:root {
  --color-primary: #FFFFFF;
  --color-primiary-light: #0b9444;
  --color-secondary: #3c8050;
  --color-accent: #8b5e3b;
  --color-neutral-beige: #5b6d5e;
  --color-secondary-accent-important: #e09a69;

  --font-primary: 'Nanum Gothic Coding', monospace;
  -secondary:'Nanum Gothic Coding', monospace;'Merriweather', serif;

  amily: var(--font-primary);
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-weight: 900;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 500;
}

a {
  font-family: var(--font-primary);
  font-weight: 100;
  color: var(--color-accent);
}

dd {
  font-family: var(--font-primary);
  font-weight: 900;
}

q {
  font-family: var(--font-primary);
  font-weight: 100;
  font-style: italic;
}
