:root {
  --color-primary: goldenrod;
  --color-primiary-light: gold;
  --color-secondary: lightcoral;
  --color-accent: greenyellow;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: peachpuff;

  --font-primary: "Alegreya Sans", "Trebuchet MS", Arial, sans-serif;
  -secondary: "Source Code Pro", Menlo, Consolas, monospace;

  amily: var(--font-primary);
}
