<ul class="nav-links list-group-inline pad-t" role="navigation">
  <li class="gutter-1-2">
    <a class="nav-links {% if page.highlight_nav == 'index'%} nav-current {% endif %}" href="/index/">Home</a>
  </li>
  <li class="gutter-1-2">
    <a class="nav-links {% if page.highlight_nav == 'products'%} nav-current {% endif %}" href="/products/">Products</a>
  </li>
  <li class="gutter-1-2">
    <a class="nav-links {% if page.highlight_nav == 'checkout'%} nav-current {% endif %}" href="/checkout/">Cart</a>
  </li>
</ul>
